{{yield}}
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="sidebar-nav">
        <ul class="nav">

            <li class="active">  {{#link-to 'index'}}<i class="fa fa-dashboard fa-lg"></i> Home{{/link-to}}</li>
            <li><a data-toggle="collapse"  data-target="#colleges" class="nonselectable"><i class="fa fa-university fa-lg"></i> Colleges <i class="fa fa-chevron-down arrow"></i> </a></li>
            <li>
            <ul  id="colleges" class="collapse in nav uwfside">
              {{log model}}

              {{#each colleges as |college|}}
                <!-- <li>{{college.name}}{{#link-to "departments"  query-params college=college.id }}Details{{/link-to}}</li> -->
              <!-- (query-params college = college.id) -->
                <li>{{#link-to "departmentscontroller" college.name (query-params college=college.id) }}{{college.name}}{{/link-to}}</li>
              {{/each}}

            </ul>
            </li>
           <li class="nav-divider"></li>
            {{#if session.isAuthenticated}}
              <li>Admin Zone </li>
              <li>  {{#link-to "colleges"}}Colleges{{/link-to}}</li>
              <li>  {{#link-to 'departments'}}Departments{{/link-to}}</li>
              <li>  {{#link-to 'faculty-list'}}Faculty{{/link-to}}</li>
              <!-- <li><a href="#" onclick={{action "logout"}}> Logout </a> </li> -->
              {{else}}
              {{log "Session Not authenticated inside the login"}}
            {{/if}}

        </ul>
    </div>
    <!--/.well -->
</div>
