{{yield}}

{{#if facultyModel.profile_image}}
  <img width="100px" src="{{facultyModel.profile_image}}"/>
{{else}}
  <img width="100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT9mVn3mUPFCZZPcSiOEffeep1C1NpCXGEr84xY9HYORJKxfvw"/>
{{/if}}

<div id="newClient">
      {{input type="file" id="profile_image" value=profileImage}}
    <div class="btn btn-xs btn-primary"  {{action "updateProfilePhoto" facultyModel}}>Change Profile Picture</div>
</div>

<h4>{{facultyModel.firstname}}
  {{facultyModel.lastname}}
  {{facultyModel.email}}
  {{facultyModel.department.name}}
</h4>


<h4>Training</h4>
<!-- //add training -->
{{input placeholder="Training" value = trainingDate type="date"}}
<select id="trainingSelect">
{{#each trainingTypes as |training| }}
  <option value = {{training.name}}> {{training.name}} </option>
{{/each}}
</select>
<button type="button" class="btn btn-xs btn-primary"  {{action "addTraining" trainingDate}}><span class="glyphicon glyphicon-plus"></span>Add Training</button>

<table class="table table-striped">

  <tr><th>Type</th><th>Date</th><th>Edit</th></tr>
  {{#each facultyModel.training as |training|}}
  <tr><td>{{training.type}}</td><td>{{training.date}}</td><td><button type="button" class="btn btn-xs btn-danger"  {{action "deleteTraining" training}}><span class="glyphicon glyphicon-remove"></span></button></td></tr>
  {{/each}}
</table>


<h4>Course Reviews</h4>
Course Name:{{input placeholder="Course Name" value = courseName}}
Internal Review: {{input placeholder="Internal" value = internalDate type="date"}}
External Review:{{input placeholder="External" value = externalDate type="date"}}
QM Fun:{{input placeholder="QM Fun" value = funDate type="date"}}
Recertification: {{input placeholder="Recerification" value = recertificationDate type="date"}}

<button type="button" class="btn btn-xs btn-primary"  {{action "addReview" courseName internalDate externalDate  funDate recertificationDate}}><span class="glyphicon glyphicon-plus"></span>Add Review</button>

<table class="table table-striped">

  <tr>
    <th>Name</th>
    <th>Internal</th>
    <th>External</th>
    <th>QM Fun</th>
    <th>Recertification</th>
  </tr>
  {{#each facultyModel.reviews as |review|}}
  <tr><td>{{review.courseName}}</td>
  <td>{{review.internalDate}}</td>
  <td>{{review.externalDate}}</td>
  <td>{{review.funDate}}</td>
  <td>{{review.recertificationDate}}</td>
  <td><button type="button" class="btn btn-xs btn-danger"  {{action "deleteReview" review}}><span class="glyphicon glyphicon-remove"></span></button></td></tr>
  {{/each}}
</table>
