{{yield}}

{{#if session.isAuthenticated}}

{{#if editMode}}
  <button {{action 'editMode'}}>Finish Editing</button>
  {{input placeholder="Salutation" value = salutation}}
  {{input placeholder="First Name" value = firstname}}
  {{input placeholder="Last Name" value = lastname}}
  {{input placeholder="Email" value = email}}
   <!-- onchange={{action "updateValue" value="target.value"}} onchange={{action "updateValue" value="target.value"}}  -->
  <select id="departmentSelect">
    {{#each departments as |department| }}
      <option  value={{department.id}}>{{department.name}}</option>
    {{/each}}
  </select>

  <button type="button" class="btn btn-xs btn-info"  {{action "addFaculty" salutation firstname lastname email}}>Add Faculty</button>
  <hr>
  <br>
{{else}}
  <button {{action 'editMode'}}>Edit</button>
 {{/if}}

 <br>

{{/if}}

<table class="table table-striped">
 <thead class="thead-inverse">
  <th>Avatar</th>
  <th>Salutation</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Department</th>
<th>Details</th>
</thead>
<tbody>
{{#each model as |faculty| }}
  <tr><td></td>
      <td>{{faculty.salutation}}</td>
      <td>{{faculty.firstname}}</td>
      <td>{{faculty.lastname}}</td>
      <td>{{faculty.email}}</td>
      <td>{{faculty.department.name}}</td>
      <td>{{#link-to 'faculty.faculty' faculty class='btn btn-primary btn-small'}}Show Details{{/link-to}}</td>
      {{#if editMode}}
        <td><button type="button" class="btn btn-xs btn-danger"  {{action "deleteFaculty" faculty}}><span class="glyphicon glyphicon-remove"></span></button></td>
      {{/if}}
    </tr>
{{/each}}
</tbody>
</table>


<!-- {{#light-table table height='65vh' as |t|}}

  {{t.head
    onColumnClick=(action 'onColumnClick')
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body
    canSelect=true
    multiSelect=true
    onScrolledToBottom=(action 'onScrolledToBottom')
    as |body|
  }}
    {{#if isLoading}}
      {{#body.loader}}
        {{table-loader}}
      {{/body.loader}}
    {{/if}}
  {{/t.body}}

{{/light-table}} -->
