{{yield}}
<h3>Login </h3>


  {{#if session.isAuthenticated}}
        <button {{action 'logout'}}>Log out</button>
  {{else}}
    {{input placeholder="email" value = email}}
    {{input type= 'password' placeholder="password" value = password}}
    <button {{action 'login' 'password'}}>Login</button>
  {{/if}}
  <p value=message>{{message}} </p>
