{{yield}}
<!-- {{log "department"}}
{{log department}} -->
<div class="col-lg-4  department">
  <div class="panel panel-info">
    <div class="panel-heading">
      {{#if department}}
         <h3 class="panel-title">  {{#link-to "department" department.id }}{{department.name}}{{/link-to}} <i class="fa fa-arrow-circle-right"></i> </h3>
      {{else}}
         <h3 class="panel-title">  {{#link-to "departmentscontroller" college.name (query-params college=college.id)}}{{college.name}}{{/link-to}} <i class="fa fa-arrow-circle-right"></i> </h3>
      {{/if}}


    </div>
    <div class="panel-body">
      {{#if department}}
        <div id="chartdiv{{department.name}}" style="width: 100%; height: 200px;"></div>
      {{else}}
        <div id="chartdiv{{college.name}}" style="width: 100%; height: 200px;"></div>
      {{/if}}
      <div>
        {{#if department}}
          {{#link-to "department" department.id class="btn btn-info"}}View Details{{/link-to}}
        {{else}}
          {{#link-to "departmentscontroller" college.name (query-params college=college.id) class="btn btn-info"}}View Details{{/link-to}}
        {{/if}}

      </div>
    </div>
  </div>
</div>

<!-- <div id="chartdiv{{college.name}}" style="width: 640px; height: 400px;"></div> -->
