{{outlet}}
  <button type="button" class="btn btn-xs btn-info"  {{action "importData" }}>Sync Data </button>
  <button type="button" class="btn btn-xs btn-info"  {{action "sanitizeTraining" }}>Sanitize Training</button>
  <button type="button" class="btn btn-xs btn-info"  {{action "clearTraining" }}>Clear Training and Reviews from faculty</button>
  <button type="button" class="btn btn-xs btn-info"  {{action "findOne" }}>Find One</button>
