<h3>Quality Online by College</h3>
{{outlet}}
  {{#if session.isAuthenticated}}
  {{input placeholder="College" value = collegeName}}
  <button {{action 'addCollege' collegeName}}>Add</button>
  {{/if}}

<table>
  {{#each model as |college|}}
  <tr>
    <!-- <li>{{college.name}}{{#link-to "departments"  query-params college=college.id }}Details{{/link-to}}</li> -->
  <!-- (query-params college = college.id) -->
    <td width="130px">{{college.name}}</td><td>{{#link-to "departmentscontroller" college.name (query-params college=college.id) }}Details{{/link-to}}</td>  </tr>
  {{/each}}
</table>

{{log model}}

<!--
{{people-list title="List of Scientists" people=model}} -->
