<div class="row">
  <div class="col-lg-12">
    <h1>ATC Quality Online Course Program Dashboard</h1>
    <div class= "well main" ><p>The Academic Technology Center operates under the auspices of the UWF IT Strategic Plan with the mission of ensuring quality distance and distributed teaching and learning at the University of West Florida.
      The Academic Technology Center serves as a catalyst for the application of new technologies to support teaching, learning, and creative expression.
    </p>
    </div>
    <h5>Quality Course Components</h5>
    <div class="col-lg-4">
      <div class="panel">
          <div class= "panel-body">
                  <div>
                  <h5>ATC Design Course (DQOC) </h5>
                  <button data-toggle="collapse" data-target="#dqoc">Show Details</button>
                  <div id="dqoc" class="collapse"><p>This course requires roughly 3 - 5 hours per week to complete. The purpose of this course is to facilitate faculty’s online/blended course design and development process. The ATC course facilitator(s) work collaboratively with faculty to help them develop a Course Design Plan. The Course Design Plan facilitates the alignment of critical course components including assessments, course materials and technology that work together to ensure students’ achievement of the stated learning outcomes. Participants will build one complete module of instruction in an actual eLearning course shell, which will serve as a framework for subsequent course modules. Designing a Quality Online Course is for all faculty or instructors who plan to develop an online/blended course. </p>
                      <a href="http://uwf.edu/offices/academic-technology-center/faculty-training-and-programs/atc-quality-course-program/" target="_blank">Learn More  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="panel">
          <div class= "panel-body">
                  <div>
                      <h5>ATC Teaching Course (TQOC)</h5>
                  <button data-toggle="collapse" data-target="#tqoc">Show Details</button>
                  <div id="tqoc" class="collapse"><p>This course requires about 3-5 hours per week to complete. The purpose of this course is to facilitate the implementation of instructional strategies that have been proven through research to be essential to successful online/blended teaching. Teaching a Quality Online Course is for all faculty or instructors who plan to teach an online/blended course. </p>
                      <a href="http://uwf.edu/offices/academic-technology-center/faculty-training-and-programs/atc-quality-course-program/" target="_blank">Learn More  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="panel">
          <div class= "panel-body">
                  <div>
                    <h5>Improving Your Online Course (IYOC) </h5>
                  <button data-toggle="collapse" data-target="#iyoc">Show Details</button>
                  <div id="iyoc" class="collapse"><p>This course requires about 8-10 hours per week to complete. The purpose of this course it to explore the QM Rubric and provide a framework to improve the quality of an online/blended course. Participants use the QM Rubric to review an existing course and redevelop it based upon the eight general standards of the rubric. Improving Your Online Course is for all faculty or instructors who want to prepare their online course for a QM Internal Course Review (ATC Quality Course Program - Fast Track). </p>
                      <a href="http://uwf.edu/offices/academic-technology-center/faculty-training-and-programs/atc-quality-course-program/" target="_blank">Learn More  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="panel">
          <div class= "panel-body">
                  <div>
                    <h5>QM Fundamentals Review (QM FUN)</h5>
                  <button data-toggle="collapse" data-target="#qmfun">Show Details</button>
                  <div id="qmfun" class="collapse"><p>Have you successfully completed ATC's "Designing a Quality Online Course" or "Improving Your Online Course?" Are you currently using the ATC Course Design Template? If so, then your course may already meet the QM Fundamentals Rubric Standards. </p>
                      <a href="http://uwf.edu/offices/academic-technology-center/faculty-training-and-programs/atc-quality-course-program/" target="_blank">Learn More  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="panel">
          <div class= "panel-body">
                  <div>
                    <h5>QM Course Certification (QM CERT)</h5>
                  <button data-toggle="collapse" data-target="#qmcert">Show Details</button>
                  <div id="qmcert" class="collapse"><p> </p>
                      <a href="http://uwf.edu/offices/academic-technology-center/faculty-training-and-programs/atc-quality-course-program/" target="_blank">Learn More  </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->


  <div class="col-lg-12">
    <div class="row">

      {{#each model as |college|}}
        {{#if (eq college.name  "CASSH")}}
          {{quality-chart college=college maximum = 60}}
        {{/if}}
        {{#if (eq college.name  "CEPS")}}
          {{quality-chart college=college maximum = 60}}
        {{/if}}
        {{#if (eq college.name  "COB")}}
          {{quality-chart college=college maximum = 60}}
        {{/if}}
        {{#if (eq college.name  "COH")}}
          {{quality-chart college=college maximum = 60}}
        {{/if}}
        {{#if (eq college.name  "HMCSE")}}
          {{quality-chart college=college maximum = 60}}
        {{/if}}
      {{/each}}
    </div>
  </div>


  <div class="col-lg-12">
        <div class="row">
      {{#each model as |college|}}
        {{#if (eq college.name  "CDE")}}
          {{quality-chart college=college maximum=10}}
        {{/if}}
        {{#if (eq college.name  "JCP Library")}}
          {{quality-chart college=college maximum=10}}
        {{/if}}
        {{#if (eq college.name  "UC")}}
          {{quality-chart college=college maximum=10}}
        {{/if}}
      {{/each}}


    </div>
  </div>

  <!-- Empty space under -->
  <div class="col-lg-12">
    <div class="row" style="height:100px">
    </div>
  </div>
